Repository Bad3r/Rin: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

ci(codecov): gate coverage on tests and fix env resolution
  .github/workflows/test.yml
  client/vite.config.ts
Due: none

chore(client): make stats.html auto-open opt-in
  client/package.json
  client/vite.config.ts
Due: none

ci(codecov): enable components and refine stats open behavior
  client/package.json
  client/vite.config.ts
  codecov.yml
Due: none

ci(codecov): harden yaml notifications and status behavior
  codecov.yml
Due: none

chore(client): open root route on dev startup
  client/package.json
Due: none

fix(dev): import bun shell in local migration script
  scripts/db-migrate-local.ts
Due: none

refactor(dev): standardize setup and migration logs in english
  scripts/db-fix-top-field.ts
  scripts/db-migrate-local.ts
  scripts/dev.ts
  scripts/setup-dev.ts
Due: none

chore(codecov): disable vite plugin telemetry
  client/vite.config.ts
Due: none

ci: disable default telemetry for wrangler and turbo
  .github/actions/setup-wrangler/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/clean.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  cli/bin/rin.ts
  package.json
  scripts/db-fix-top-field.ts
  scripts/deploy-cf.ts
  scripts/dev.ts
  scripts/setup-dev.ts
  server/package.json
Due: none

ci: drop DO_NOT_TRACK and keep tool-specific telemetry flags
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/clean.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  cli/bin/rin.ts
  package.json
Due: none

ci: add explicit github token permissions to workflows (#34)
  .github/actions/setup-wrangler/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/clean.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/remote-integration.yml
  .github/workflows/test.yml
  bun.lock
  cli/bin/rin.ts
  client/package.json
  client/vite.config.ts
  codecov.yml
  package.json
  scripts/db-fix-top-field.ts
  scripts/db-migrate-local.ts
  scripts/deploy-cf.ts
  scripts/dev.ts
  scripts/setup-dev.ts
  server/package.json
Due: none

fix(scripts): handle top-column catch-up output and mute devskim noise
  .github/workflows/devskim.yml
  scripts/__tests__/migration-utils.test.ts
  scripts/migration-utils.ts
Due: none

fix: resolve moments corruption and auth/about regressions
  client/public/locales/en/translation.json
  client/public/locales/ja/translation.json
  client/public/locales/zh-CN/translation.json
  client/public/locales/zh-TW/translation.json
  client/src/App.tsx
  client/src/components/markdown_editor.tsx
  client/src/page/about.tsx
  client/src/page/feed.tsx
  client/src/page/moments.tsx
  client/src/utils/__tests__/auth.test.ts
  client/src/utils/auth.ts
  server/src/core/__tests__/setup.test.ts
  server/src/core/setup.ts
  server/src/services/__tests__/auth.test.ts
  server/src/services/auth.ts
Due: client, server

fix: restore alias-based about editing workflow
  client/src/App.tsx
  client/src/page/about.tsx
  client/src/page/feed.tsx
  client/src/page/writing.tsx
Due: client

fix: stop repeated feed refetch loop on writing edit page
  client/src/page/writing.tsx
Due: client

fix(client): restore adjacent previous/next feed mapping
  client/src/api/__tests__/client.test.ts
  client/src/api/client.ts
  client/src/components/adjacent_feed.tsx
Due: client

fix: address PR review findings for auth and navigation
  client/src/App.tsx
  client/src/components/adjacent_feed.tsx
  client/src/page/writing.tsx
  client/src/utils/auth.ts
  server/src/core/__tests__/setup.test.ts
  server/src/core/setup.ts
  server/src/services/__tests__/auth.test.ts
  server/src/services/__tests__/user.test.ts
  server/src/services/auth.ts
  server/src/services/user.ts
  server/tests/types/vitest-cloudflare.d.ts
Due: client, server

fix(app): harden search privacy, pagination, and about bootstrap
  client/src/api/__tests__/client.test.ts
  client/src/api/client.ts
  client/src/page/__tests__/search.test.tsx
  client/src/page/search.tsx
  scripts/db-migrate-local.ts
  server/sql/0010.sql
  server/src/services/__tests__/auth.test.ts
  server/src/services/__tests__/feed.test.ts
  server/src/services/auth.ts
  server/src/services/feed.ts
  server/tests/test-api-client.ts
Due: client, server

fix(app): address PR review findings for cache and seed safety
  client/src/api/__tests__/client.test.ts
  client/src/api/client.ts
  server/sql/0011.sql
  server/src/services/__tests__/auth.test.ts
  server/src/services/__tests__/feed.test.ts
  server/src/services/auth.ts
  server/src/services/feed.ts
  server/tests/integration/api.test.ts
  server/tests/test-api-client.ts
Due: client, server

fix(server): align cache invalidation and document partial index contract
  server/src/db/schema.ts
  server/src/services/auth.ts
  server/src/services/feed.ts
Due: server

docs(changelog): sync unreleased entries with recent PRs
  CHANGELOG.md
Due: none

chore(server): remove legacy router and enforce hono coverage gates
  .env.example
  CHANGELOG.md
  scripts/check-server-router-coverage.ts
  server/package.json
  server/src/core/__tests__/router-compat-parity.test.ts
  server/src/core/__tests__/router-factory.test.ts
  server/src/core/router-contract.ts
  server/src/core/router-factory.ts
  server/src/core/router-legacy.ts
  server/src/core/router.ts
  server/src/services/__tests__/friends-route.test.ts
  server/src/services/__tests__/user-oauth-regression.test.ts
  server/src/types/env-augment.d.ts
  server/tests/fixtures/index.ts
  server/tests/integration/worker-routing.test.ts
  server/vitest.config.ts
Due: server

docs(agents): require worktree bootstrap from main checkout
  AGENTS.md
Due: none

chore(nix): update flake.lock
  flake.lock
Due: none

chore(docs): update AGENTS.md
  AGENTS.md
Due: none

Path conditions:
  client: any of: client/src/
  server: any of: server/src/
