Repository Bad3r/Rin: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, client-app, server-api, shared-api

codecov.yml:

codecov:
  require_ci_to_pass: true
  strict_yaml_branch: main
  notify:
    after_n_builds: 2
    wait_for_ci: true
    notify_error: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
      client:
        flags:
          - client
        target: auto
        threshold: 1%
        if_ci_failed: error
      server:
        flags:
          - server
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: true

github_checks:
  annotations: true

flags:
  client:
    paths:
      - client/src/
  server:
    paths:
      - server/src/

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
        if_ci_failed: error
      - type: patch
        target: auto
        threshold: 1%
        if_ci_failed: error
  individual_components:
    - component_id: client_app
      name: client-app
      paths:
        - client/src/**
    - component_id: server_api
      name: server-api
      paths:
        - server/src/**
    - component_id: shared_api
      name: shared-api
      paths:
        - packages/api/**

chore(docs): update AGENTS.md
  AGENTS.md
Due: none

fix: harden router coverage lookup and remove dead env API
  scripts/check-server-router-coverage.ts
  server/src/core/__tests__/router-compat-parity.test.ts
  server/src/core/__tests__/router-factory.test.ts
  server/src/core/base.ts
  server/src/core/router-factory.ts
  server/src/core/router.ts
Due: server, server-api

chore(devenv): update inputs
  devenv.lock
  devenv.yaml
Due: none

style: apply treefmt change in oauth regression test
  server/src/services/__tests__/user-oauth-regression.test.ts
Due: server, server-api

docs: update migration docs
  docs/docs/en/guide/migration.md
  docs/docs/zh/guide/migration.md
Due: none

fix: 更新 favicon 接口路径，确保正确的 API 调用
  client/src/page/settings.tsx
Due: client, client-app

fix(docs): 更新部署指南中的工作流名称从 "Deploy" 为 "Build" (#454)
  docs/docs/en/guide/deploy.mdx
  docs/docs/zh/guide/deploy.mdx
Due: none

fix(deploy): Move a few s3 environment variables from secrets to vars to align the documentation. (#442)
  .github/workflows/deploy.yml
Due: none

fix(translation): 修正繁體中文留言內容提示及新增登入錯誤訊息 (#452)
  client/public/locales/zh-TW/translation.json
Due: none

fix(docs): 修正 README 和 README_zh_CN 中的格式及內容 (#453)
  README.md
  README_zh_CN.md
Due: none

fix: fail deploy workflow on pipe errors
  .github/workflows/deploy.yml
Due: none

fix(ci): build client before server
  package.json
Due: none

fix(deploy): validate artifact deploy script hash
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

fix(doc): add Webhook link to navigation (#462)
  docs/docs/en/_nav.json
  docs/docs/zh/_nav.json
Due: none

test: add unit tests for favicon, friends, moments, and storage services
  server/src/services/__tests__/config.test.ts
  server/src/services/__tests__/favicon.test.ts
  server/src/services/__tests__/friends.test.ts
  server/src/services/__tests__/moments.test.ts
  server/src/services/__tests__/storage.test.ts
Due: server, server-api

test(server): align upstream service tests with vitest runtime
  server/src/services/__tests__/config.test.ts
  server/src/services/__tests__/favicon.test.ts
  server/src/services/__tests__/friends.test.ts
  server/src/services/__tests__/moments.test.ts
  server/src/services/__tests__/storage.test.ts
Due: server, server-api

test(server): stabilize upstream service tests in D1 harness
  server/src/services/__tests__/config.test.ts
  server/src/services/__tests__/favicon.test.ts
  server/src/services/__tests__/friends.test.ts
  server/src/services/__tests__/moments.test.ts
  server/src/services/__tests__/storage.test.ts
Due: server, server-api

docs: remove workers route setup for rss (#464)
  docs/docs/en/guide/rss.md
  docs/docs/zh/guide/rss.md
Due: none

fix: hide uv pv stats when disabled (#461)
  client/src/components/footer.tsx
  client/src/components/header.tsx
  client/src/page/feed.tsx
  client/src/page/settings.tsx
  client/src/state/config.tsx
Due: client, client-app

fix: resolve blurhash image loading race (#466)
  client/src/components/feed_card.tsx
  client/src/components/markdown.tsx
  client/src/test/setup.ts
  client/src/types/jsdom.d.ts
  client/src/utils/__tests__/use-image-load-state.test.tsx
  client/src/utils/use-image-load-state.ts
Due: client, client-app

fix(client): restore blurhash utility modules
  client/src/utils/blurhash.ts
  client/src/utils/image-upload.ts
Due: client, client-app

feat: add customizable header layouts (#465)
  .github/workflows/deploy.yml
  client/public/locales/en/translation.json
  client/public/locales/ja/translation.json
  client/public/locales/zh-CN/translation.json
  client/public/locales/zh-TW/translation.json
  client/src/App.tsx
  client/src/base.css
  client/src/components/header.tsx
  client/src/components/site-header/index.ts
  client/src/components/site-header/layout-options.ts
  client/src/components/site-header/layout-preview.tsx
  client/src/components/site-header/layout-registry.tsx
  client/src/components/site-header/layout-types.ts
  client/src/components/site-header/layouts/classic-layout.tsx
  client/src/components/site-header/layouts/compact-layout.tsx
  client/src/components/site-header/preview-primitives.tsx
  client/src/components/site-header/primitives/action-buttons.tsx
  client/src/components/site-header/primitives/brand-link.tsx
  client/src/components/site-header/primitives/menu.tsx
  client/src/components/site-header/primitives/mobile-top-header.tsx
  client/src/components/site-header/primitives/nav-bar.tsx
  client/src/components/site-header/shared.ts
  client/src/hooks/useSiteConfig.ts
  client/src/index.css
  client/src/page/feed.tsx
  client/src/page/settings.tsx
  client/src/state/config.tsx
  client/src/utils/theme-color.ts
  client/tailwind.config.ts
Due: client, client-app

feat: add feed card presentation settings (#467)
  client/public/locales/en/translation.json
  client/public/locales/ja/translation.json
  client/public/locales/zh-CN/translation.json
  client/public/locales/zh-TW/translation.json
  client/src/components/feed-card-options.ts
  client/src/components/feed-card-preview.tsx
  client/src/components/feed-layout-options.ts
  client/src/components/feed_card.tsx
  client/src/components/settings-preview-card.tsx
  client/src/hooks/useSiteConfig.ts
  client/src/page/feeds.tsx
  client/src/page/hashtag.tsx
  client/src/page/search.tsx
  client/src/page/settings.tsx
  client/src/state/config.tsx
  client/src/utils/image-upload.ts
Due: client, client-app

docs: expand rc2 changelog
  CHANGELOG.md
Due: none

docs: add bilingual rc2 changelog
  CHANGELOG.md
Due: none

fix(config): ensure wrangler AI binding in generated configs
  .github/actions/setup-wrangler/action.yml
  scripts/setup-dev.ts
Due: none

fix(client): resolve biome pre-push blocking errors
  client/src/components/feed_card.tsx
  client/src/components/markdown.tsx
  client/src/components/site-header/layouts/compact-layout.tsx
  client/src/components/site-header/primitives/menu.tsx
Due: client, client-app

fix: correct markdown trailing image detection
  client/src/components/markdown.tsx
  client/src/utils/__tests__/markdown-image.test.ts
  client/src/utils/markdown-image.ts
Due: client, client-app

fix: restore feed card image transitions
  client/src/components/feed_card.tsx
Due: client, client-app

fix: avoid empty avatar requests in compact preview
  client/src/components/site-header/layouts/compact-layout.tsx
Due: client, client-app

test: cover personalization config persistence
  server/src/services/__tests__/config.test.ts
Due: server, server-api

fix: prevent cached image load flicker
  client/src/utils/__tests__/use-image-load-state.test.tsx
  client/src/utils/use-image-load-state.ts
Due: client, client-app

fix: preserve legacy S3 deploy secrets
  .github/workflows/deploy.yml
Due: none

ci: verify manual deploy artifact checksums
  .github/workflows/deploy.yml
Due: none

refactor: simplify config test user setup
  server/src/services/__tests__/config.test.ts
Due: server, server-api

chore(nix): update flake.lock
  flake.lock
Due: none

docs: record 2026-07 fork audit and Option B decision
  FORK.md
  docs/fork-evaluation-2026-07.md
Due: none
