Repository Bad3r/Rin: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, client-app, server-api, shared-api

fix(fmt): stop routing markdown to biome in treefmt
  .treefmt.toml
Due: none

docs(changelog): drop unlanded PR #15 deploy-foundation entry
  CHANGELOG.md
Due: none

feat(db): realign migrations to upstream numbering
  scripts/__tests__/migration-utils.test.ts
  scripts/migration-utils.ts
  server/sql/0009.sql
  server/sql/0010.sql
  server/sql/0011.sql
  server/sql/0012.sql
  server/sql/0013.sql
  server/src/db/schema.ts
Due: server, server-api

feat(comments): port guest comments from upstream #515
  client/public/locales/en/translation.json
  client/public/locales/ja/translation.json
  client/public/locales/zh-CN/translation.json
  client/public/locales/zh-TW/translation.json
  client/src/page/feed.tsx
  client/src/state/config.tsx
  packages/api/src/schemas.ts
  packages/api/src/types.ts
  server/src/db/schema.ts
  server/src/services/__tests__/comments.test.ts
  server/src/services/comments.ts
Due: client, server, client-app, server-api, shared-api

feat: port upstream v0.3.0 and June fix wave
  bun.lock
  client/package.json
  client/public/locales/en/translation.json
  client/public/locales/ja/translation.json
  client/public/locales/zh-CN/translation.json
  client/public/locales/zh-TW/translation.json
  client/src/components/feed_card.tsx
  client/src/components/footer.tsx
  client/src/components/header.tsx
  client/src/components/loading.tsx
  client/src/components/markdown.tsx
  client/src/components/site-header/primitives/__tests__/menu.test.tsx
  client/src/components/site-header/primitives/menu.tsx
  client/src/hooks/useTableOfContents.tsx
  client/src/page/feed.tsx
  client/src/page/feeds.tsx
  client/src/page/hashtag.tsx
  client/src/page/hashtags.tsx
  client/src/page/moments.tsx
  client/src/page/search.tsx
  client/src/page/writing.tsx
  client/src/remark/remarkMermaid.ts
  client/src/test/setup.ts
  server/src/services/__tests__/feed.test.ts
  server/src/services/comments.ts
  server/src/services/feed.ts
  server/src/utils/ai.ts
  server/src/utils/image.ts
  server/src/utils/markdown.ts
Due: client, server, client-app, server-api

docs: refresh AGENTS.md, README, CHANGELOG, FORK.md after the sprint
  AGENTS.md
  CHANGELOG.md
  FORK.md
  README.md
Due: none

chore: drop profiler artifact and stale Sentry TODO
  .gitignore
  client/src/components/error-boundary.tsx
  worker-startup.cpuprofile
Due: client, client-app

chore(client): declare jsdom devDependency
  bun.lock
  client/package.json
Due: none

fix: satisfy biome lint gates and integration mock cache
  client/src/components/footer.tsx
  client/src/components/site-header/primitives/menu.tsx
  server/tests/integration/api.test.ts
Due: client, client-app

docs(fork): record executed D1 realignment
  FORK.md
Due: none

fix: address PR #66 review criticals
  FORK.md
  client/src/page/feed.tsx
  scripts/__tests__/migration-utils.test.ts
  scripts/db-fix-top-field.ts
  scripts/db-migrate-local.ts
  scripts/deploy-cf.ts
  scripts/migration-utils.ts
  server/src/services/__tests__/comments.test.ts
  server/src/services/comments.ts
Due: client, server, client-app, server-api

fix(deploy): pass secret values to wrangler as bytes
  scripts/deploy-cf.ts
Due: none

chore(nix): update flake.lock
  flake.lock
Due: none

Path conditions:
  client: any of: client/src/
  server: any of: server/src/
  client-app: any of: client/src/**
  server-api: any of: server/src/**
  shared-api: any of: packages/api/**
